@{
    ViewData["Title"] = "Home Page";
}


@model AlbumsViewModel





<div class="container">
    <a class="nav-link text-dark" href="@Url.Action("AlbumDetails")"><input id="btnEdit" class="btn btn-success" type="button" value="Add New Album" /></a>
    <h1>Albums</h1>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th><a asp-action="Index" asp-route-sortOrder="@ViewData["NameSort"]">Albums</a></th>
                <th><a asp-action="Index" asp-route-sortOrder="@ViewData["ArtistSort"]">Artist</a></th>
                <th><a asp-action="Index" asp-route-sortOrder="@ViewData["AlbumTypeSort"]">Type</a></th>
                <th><a asp-action="Index" asp-route-sortOrder="@ViewData["StockSort"]">Stock</a></th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var album in Model.AlbumsModels)
            {
                <tr>
                    <td>
                        @album.Name
                    </td>
                    <td>
                        @album.Artist
                    </td>
                    <td>
                        @album.AlbumType
                    </td>
                    <td>
                        @album.Stock
                    </td>
                    <td><a class="nav-link text-dark" href="@Url.Action("AlbumDetails", new { id = album.Id })"><input id="btnEdit" class="btn btn-success" type="button" value="Edit" /></a></td>
                    <td> <a class="nav-link text-dark" href="@Url.Action("AlbumDelete", new { id = album.Id })"><input id="btnRemove" class="btn btn-success" type="button" value="Remove" /></a></td>

                </tr>
            }
        </tbody>
    </table>
    <ul class="pagination">
        @if (Model.PageCount() > 0)
        {
            @for (int i = 1; i <= Model.PageCount(); i++)
            {
                <li class="@(i == Model.PageIndex ? "page-item active" : "page-item")">
                    <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                </li>

            }
        }

    </ul>
</div>
@*<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/bootstrap.min.js"></script>*@





